include mixins

doctype html
html
    head
    
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Mais Um")
        meta(name="author" content="Hudson Nicoletti")
    
        title  Mais Um
        
        link(rel="stylesheet", href="assets/styles/main.css")
        link(rel="shortcut icon" href="/favicon.ico")
    body.about-us
                 
        header(data-scroll-index="1")
            .main-section
                .logo
                .social
                    a(data-toggle="tooltip", title="Facebook", href="https://www.facebook.com/redemaisum/"): i.fa.fa-facebook
                    a(data-toggle="tooltip", title="Twitter", href="https://twitter.com/redemais1"): i.fa.fa-twitter
                    a(data-toggle="tooltip", title="Youtube", href="https://www.youtube.com/channel/UC9f3AXV4wuYUgI6gU8hcy0w"): i.fa.fa-youtube-play
                    a(data-toggle="tooltip", title="Instagram", href="https://www.instagram.com/redemaisum/"): i.fa.fa-instagram
                    a(data-toggle="tooltip", title="Blog", href="/blog"): i.fa.fa-newspaper-o
            nav
                .menu-logo
                .menu-toggle
                    span.bar
                    span.bar
                    span.bar
                ul
                    li(): a(href="/index.html") Home
                    li(data-scroll-nav="1"): a(href="#") Sobre
                    li(data-scroll-nav="2"): a(href="#") Parceiros
                    li(data-scroll-nav="3"): a(href="#") Contato
                    
        section.sitemap
            .container
                ul
                    li: a(href="#") Home
                    li: a(href="#") Mais Um
                    
        section.about-us(data-scroll-index="1")
            .container
                .content
                    .half
                        .about-text
                            h3.title Sobre a 
                                strong.primary Mais Um
                            p A Mais Um surgiu em 2014 após uma reportagem da Tv local sobre a dificuldade do Hospital do Câncer de Londrina em conseguir R$ 100.000,00 para equipar o centro cirúrgico infantil. Daí surgiu a ideia de criar uma rede de colaboradores com a possibilidade de arrecadar e incentivar as pessoas a defenderem causas e ajudarem financeiramente essas instituições sociais.
                            strong.primary.question Porque uma rede de colaboradores?
        
                            p O nosso pensamento é reunir o maior número de pessoas que tenham vontade de fazer algo diferente e que tenha relevância para uma mudança social.
        
                            p Desde o início, o objetivo foi criar uma ponte em que a Mais Um consiga em curto espaço de tempo mobilizar um número grande de pessoas conseguindo desta forma uma pequena colaboração do participante e que no final possa reunir um montante significativo para a organização beneficiada.
        
                            p O desafio passou a ser “o como” movimentar uma rede desta maneira. Novas ideias apareceram e a pequena ideia de reunir um grupo passou a ser a criação de uma empresa que pudesse movimentar o terceiro setor do país e aumentar a área de abrangência da Mais Um.
        
                            p Criamos a rede, colocamos o site no ar e disponibilizamos um aplicativo para diminuir a distância entre a rede e o nosso colaborador.
        
                            p Esperamos você na nossa rede colaborativa e, 
                                strong.primary.handwriting #sejamaisum  
                                |mudando o mundo!!!!
                        .tabs(data-tab-set="1")
                            ul.indexes
                                li.active(data-tab="1") Missão
                                li(data-tab="2") Visão   
                                li(data-tab="3") Missão
                            ul.targets
                                li.active(data-tab-index="1")
                                    .content
                                        p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae vel repudiandae recusandae, laudantium reprehenderit consequuntur atque, corporis numquam aspernatur ipsam eveniet repellat, magnam delectus, amet quas temporibus ipsum aperiam vitae!
                                li(data-tab-index="2") 
                                    .content
                                        p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, aspernatur veritatis quos quaerat sit odio voluptates, voluptatibus qui corrupti atque reiciendis eius nihil. Inventore ipsa nulla et cum quasi. Deleniti consequuntur ea labore. Inventore voluptatem dolor quia earum nostrum, pariatur. Delectus incidunt laboriosam voluptatum at! Accusamus omnis voluptate, similique quas aut architecto tempora sed deserunt itaque? Quis, animi praesentium ipsam. 
                                li(data-tab-index="3") 
                                    .content
                                        p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quo illum rerum alias excepturi, fugiat tenetur cum libero reprehenderit minus. Debitis, numquam neque delectus blanditiis eius, amet quae magni ex sed aperiam, non nobis! Debitis saepe recusandae eos, unde similique nemo tempore dignissimos magni earum quas excepturi sint dolorem tempora in distinctio voluptatum possimus dolores et labore nobis nam, eius atque quisquam quos! Voluptate quidem expedita, iste earum ipsum. Dicta eaque eveniet, magni fugiat facere rem cum quam illo enim rerum corrupti adipisci magnam explicabo pariatur, similique velit temporibus consequuntur.
                        
                    .half
                        .about-slider
                            figure
                                img(src="assets/images/content/about-us/slider/01.jpg", alt="")
                            figure
                                img(src="assets/images/content/about-us/slider/01.jpg", alt="")
                            figure
                                img(src="assets/images/content/about-us/slider/01.jpg", alt="")
                            figure
                                img(src="assets/images/content/about-us/slider/01.jpg", alt="")
                            figure
                                img(src="assets/images/content/about-us/slider/01.jpg", alt="")                               
                        
                        .recent
                            .container
                                h2.title 
                                    strong Causas 
                                    | Recentes
                                .causes
                                    +cause("assets/images/content/causes/03.jpg"," Lorem ipsum dolor sit amet, consectetur adipisicing.",80,80,"#")
                                    +cause("assets/images/content/causes/02.jpg"," Lorem ipsum dolor sit amet, consectetur adipisicing.",50,60,"#")
                                    +cause("assets/images/content/causes/01.jpg"," Lorem ipsum dolor sit amet, consectetur adipisicing.",75,90,"#")
                                    +cause("assets/images/content/causes/03.jpg"," Lorem ipsum dolor sit amet, consectetur adipisicing.",80,80,"#")
                                    +cause("assets/images/content/causes/02.jpg"," Lorem ipsum dolor sit amet, consectetur adipisicing.",50,60,"#")
                                    +cause("assets/images/content/causes/01.jpg"," Lorem ipsum dolor sit amet, consectetur adipisicing.",75,90,"#")
                                    
        section.partners.light(data-scroll-index="2")
            .container
                h3.title 
                    strong Nossos 
                    | Parceiros
                    
                .partners-carousel
                    +partners()
                        
        section.contact(data-scroll-index="3")
            .container
                h2.title 
                    strong Entre 
                    | em contato
                .info-box
                    .info
                        i.fa.fa-envelope-o
                        span.text-center contato@maisum.social
                        
                form.contact(action="")
                    .content
                        .box
                            .input-addon
                                i.fa.fa-user
                                input(type="text",placeholder="Nome Completo")
                            .input-addon
                                i.fa.fa-envelope-o
                                input(type="email",placeholder="E-Mail")
                            .input-addon
                                i.fa.fa-volume-up
                                input(type="text",placeholder="Assunto")
                        .box
                            .input-addon
                                i.fa.fa-pencil
                                textarea(name="",placeholder="Mensagem")
                    button(type="submit") Enviar
                    
        +footer
                
                    
        .scroll-top
            a(href="#")
                i.fa.fa-chevron-up
        
        .fb-root            
        script(type="text/javascript" src="assets/scripts/jquery-1.11.3.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.easing.1.3.js")
        script(type="text/javascript" src="assets/scripts/owl.carousel.min.js")
        script(type="text/javascript" src="assets/scripts/scrollIt.js")
        script(type="text/javascript" src="assets/scripts/bootstrap.min.js")
        script(type="text/javascript" src="assets/scripts/functions.min.js")
