include mixins

doctype html
html
    head
    
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Mais Um")
        meta(name="author" content="Hudson Nicoletti")
    
        title  Mais Um
        
        link(rel="stylesheet", href="assets/styles/main.css")
        link(rel="shortcut icon" href="/favicon.ico")
    body.home
                 
        header(data-scroll-index="1")
            .main-section
                .logo
                .social
                    a(data-toggle="tooltip", title="Facebook", href="https://www.facebook.com/redemaisum/"): i.fa.fa-facebook
                    a(data-toggle="tooltip", title="Twitter", href="https://twitter.com/redemais1"): i.fa.fa-twitter
                    a(data-toggle="tooltip", title="Youtube", href="https://www.youtube.com/channel/UC9f3AXV4wuYUgI6gU8hcy0w"): i.fa.fa-youtube-play
                    a(data-toggle="tooltip", title="Instagram", href="https://www.instagram.com/redemaisum/"): i.fa.fa-instagram
                    a(data-toggle="tooltip", title="Blog", href="/blog"): i.fa.fa-newspaper-o
            nav
                .menu-logo
                .menu-toggle
                    span.bar
                    span.bar
                    span.bar
                ul
                    li(data-scroll-nav="2"): a(href="#") Faça o Bem
                    li(data-scroll-nav="3"): a(href="#") Interaja <span>+</span> 
                    li(data-scroll-nav="4"): a(href="#") Causas
                    li(): a(href="/about.html") Sobre
                    li(data-scroll-nav="5"): a(href="#") Parceiros
                    li(data-scroll-nav="6"): a(href="#") Contato
                    
        section.slider(data-scroll-index="1")
             ul.slides-container
                 li(style="background-image: url('assets/images/slider/01.jpg')")
                    .container
                        h4.handwriting #sejamaisum
                        h2.big A <strong> ENTIDADE X </strong> PRECISA DA SUA <b>AJUDA</b>
                        a.cta(href="#") Colabore
                 li(style="background-image: url('assets/images/slider/01.jpg')")
                    .container
                        h4.handwriting #sejamaisum
                        h2.big A <strong> ENTIDADE X </strong> PRECISA DA SUA <b>AJUDA</b>
                        a.cta(href="#") Colabore
                 li(style="background-image: url('assets/images/slider/01.jpg')")
                    .container
                        h4.handwriting #sejamaisum
                        h2.big A <strong> ENTIDADE X </strong> PRECISA DA SUA <b>AJUDA</b>
                        a.cta(href="#") Colabore
                 
        section.tabbed(data-scroll-index="2",data-tab-set="1")
          .header.bar-title
            .container
              h2.title Faça o Bem   
          .container
            .items
              .item(data-tab="1")      
                img(src="assets/images/icons/1.png", alt="")
                h4 DIVULGUE
                span as ações da sua ONG na rede
              .item(data-tab="2")      
                img(src="assets/images/icons/2.png", alt="")
                h4 CONVOQUE
                span voluntários com a nossa ajuda
              .item(data-tab="3")      
                img(src="assets/images/icons/3.png", alt="")
                h4 ESPALHE
                span as boas iniciativas pela rede
              .item(data-tab="4")      
                img(src="assets/images/icons/4.png", alt="")
                h4 APOIE
                span uma causa participando da rede
                
          .item-info
            .container
              .contents(data-tab-index="1")
                h2 Divulgue as ações de sua ONG na rede
                p Sua ONG tem um projeto inspirador e gostaria de mais apoio? Patrocínio? Doações? Voluntariado?
                p Explique, mostre fotos, vídeo, divulgue o seu projeto ou a ONG que você apoia para a rede Mais Um, queremos ajudar a espalhar as ações do bem. Nosso objetivo é incentivar e fomentar ajuda a todos que precisam.
                p Sinta-se a vontade para cadastrar seu projeto, use o formulário abaixo , para ajudarmos a divulgá-lo.
                
                form.tabform(action="/register/share",method="POST",accept-charset="utf8")
                  .columns
                    .column
                      .input-addon
                        i.fa.fa-user
                        input.required(type="text",name="name",placeholder="Nome Completo")
                      .input-addon
                        i.fa.fa-envelope-o
                        input.required(type="email",name="email",placeholder="E-Mail")
                      .input-addon
                        i.fa.fa-phone
                        input.required(type="text",name="phone",placeholder="Telefone")
                      .input-addon
                        i.fa.fa-quote-left
                        input.required(type="text",name="title",placeholder="Título da Campanha")
                      .input-addon
                        i.fa.fa-calendar
                        input(type="text",name="date",placeholder="Data da Ação",maxlength="10")
                      .input-addon
                        i.fa.fa-file-image-o
                        input(type="file",name="file")
                      .input-addon
                        i.fa.fa-pencil
                        textarea(name="description",placeholder="Descreva a Ação",rows="8")
                    
                    .column
                      fieldset
                        legend
                          h4
                            i.fa.fa-key
                            | Escolha a causa de seu interesse:
                            small * Multipla escolha
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="share-1")
                          label(for="share-1") Proteção Animal
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="share-2")
                          label(for="share-2") Meio Ambiente
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="share-3")
                          label(for="share-3") Saúde
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="share-4")
                          label(for="share-4") Portadores de Necessidades Especiais
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="share-5")
                          label(for="share-5") Voluntário
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="share-6")
                          label(for="share-6") Programa Social
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="share-7")
                          label(for="share-7") Educacional | Profissionalizante
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="share-8")
                          label(for="share-8") Outros
                          input(type="text",name="others",placeholder="Quais outros?",class="hidden",style="padding-left: 10px")
  
                      h4
                        i.fa.fa-share-alt
                        | Redes Sociais da Instituição ou Campanha
                        
                      .input-addon
                        i.fa.fa-facebook
                        input.required(type="text",name="facebook",placeholder="Facebook")
                      .input-addon
                        i.fa.fa-instagram
                        input.required(type="text",name="instagram",placeholder="Instagram")
                        
                  .row.text-center
                    button(type="submit") Enviar Cadastro
                    .response
                      h2
                      span
              
              .contents(data-tab-index="2")
                h2 Convoque voluntários com a nossa ajuda
                p A Mais Um quer aproximar as pessoas dispostas a praticar o bem dos projetos inspiradores.
                p Seu projeto precisa daquela forcinha, aquele  camarada forte para carregar as caixas, ou um ombro amigo para aquela pessoa frágil? Divulgue seu projeto e o que precisa, queremos encontrar pessoas dispostas a ajudar.
                p Cadastre sua <strong>ONG</strong> no formulário abaixo e descreva o que precisa.
                
                form.tabform(action="/register/invite",method="POST",accept-charset="utf8")
                  .columns
                    .column
                      .input-addon
                        i.fa.fa-user
                        input.required(type="text",name="name",placeholder="Nome Completo")
                      .input-addon
                        i.fa.fa-envelope-o
                        input.required(type="email",name="email",placeholder="E-Mail")
                      .input-addon
                        i.fa.fa-phone
                        input.required(type="text",name="phone",placeholder="Telefone")
                      .input-addon
                        i.fa.fa-home
                        input.required(type="text",name="entity",placeholder="Entidade")
                      .input-addon
                        i.fa.fa-map-marker
                        input.required(type="text",name="address",placeholder="Endereço Completo")
                      .input-addon
                        i.fa.fa-pencil
                        textarea(name="description",placeholder="Descreva sua necessidade",rows="10")
                    
                    .column
                      fieldset
                        legend
                          h4
                            i.fa.fa-key
                            | Escolha a causa de seu interesse:
                            small * Multipla escolha
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="invite-1")
                          label(for="invite-1") Proteção Animal
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="invite-2")
                          label(for="invite-2") Meio Ambiente
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="invite-3")
                          label(for="invite-3") Saúde
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="invite-4")
                          label(for="invite-4") Portadores de Necessidades Especiais
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="invite-5")
                          label(for="invite-5") Voluntário
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="invite-6")
                          label(for="invite-6") Programa Social
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="invite-7")
                          label(for="invite-7") Educacional | Profissionalizante
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="invite-8")
                          label(for="invite-8") Outros
                          input(type="text",name="others",placeholder="Quais outros?",class="hidden",style="padding-left: 10px")
  
                      h4
                        i.fa.fa-share-alt
                        | Redes Sociais da Instituição
                        
                      .input-addon
                        i.fa.fa-facebook
                        input.required(type="text",name="facebook",placeholder="Facebook")
                      .input-addon
                        i.fa.fa-instagram
                        input.required(type="text",name="instagram",placeholder="Instagram")
                        
                  .row.text-center
                    button(type="submit") Enviar Cadastro
                    .response
                      h2
                      span
                
              .contents(data-tab-index="3")
                h2 Espalhe as boas iniciativas pela rede
                p Uma das formas mais simples de ajudar uma ação do bem é espalhar a ideia! Você pode divulgar todas as ações ligadas à causa que você mais se identifica. 
                p Ficou sabendo de uma ação do bem e quer espalhar?
                p Cadastre-se e faça parte da maior rede colaborativa do país.
                form.tabform(action="/register/spread",method="POST",accept-charset="utf8")
                  .columns
                    .column
                      .input-addon
                        i.fa.fa-user
                        input.required(type="text",name="name",placeholder="Nome Completo")
                      .input-addon
                        i.fa.fa-envelope-o
                        input.required(type="email",name="email",placeholder="E-Mail")
                      .input-addon
                        i.fa.fa-phone
                        input.required(type="text",name="phone",placeholder="Telefone")
                      .input-addon
                        i.fa.fa-info
                        input.required(type="text",name="document",placeholder="CPF")
                      .input-addon
                        i.fa.fa-map-marker
                        input.required(type="text",name="address",placeholder="Endereço Completo")
                      fieldset(style="margin-top:20px")
                        legend
                          h4
                            i.fa.fa-support
                            | Como gostaria de ajudar?
                            
                        .input-group
                          input(type="checkbox",name="support[]",value="1",id="support-1")
                          label(for="support-1") Doação
                        .input-group
                          input(type="checkbox",name="support[]",value="2",id="support-2")
                          label(for="support-2") Voluntariado
                    
                    .column
                      fieldset
                        legend
                          h4
                            i.fa.fa-key
                            | Escolha a causa de seu interesse:
                            small * Multipla escolha
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="spread-1")
                          label(for="spread-1") Proteção Animal
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="spread-2")
                          label(for="spread-2") Meio Ambiente
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="spread-3")
                          label(for="spread-3") Saúde
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="spread-4")
                          label(for="spread-4") Portadores de Necessidades Especiais
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="spread-5")
                          label(for="spread-5") Voluntário
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="spread-6")
                          label(for="spread-6") Programa Social
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="spread-7")
                          label(for="spread-7") Educacional | Profissionalizante
                        .input-group
                          input(type="checkbox",name="intrest[]",value="1",id="spread-8")
                          label(for="spread-8") Outros
                          input(type="text",name="others",placeholder="Quais outros?",class="hidden",style="padding-left: 10px")
  
                      h4
                        i.fa.fa-share-alt
                        | Redes Sociais da Instituição ou Campanha
                        
                      .input-addon
                        i.fa.fa-facebook
                        input.required(type="text",name="facebook",placeholder="Facebook")
                      .input-addon
                        i.fa.fa-instagram
                        input.required(type="text",name="instagram",placeholder="Instagram")
                        
                  .row.text-center
                    button(type="submit") Enviar Cadastro
                    .response
                      h2
                      span
                
              .contents(data-tab-index="4")
                h2 Apoie uma causa participando da rede
                p O maior benefício que a Mais Um pode proporcionar é a participar de uma grande experiência de vida. Queremos somar/unir pessoas e istituições para espalhar ações do bem e mudar o mundo!
                p Se você adora ajudar, busca fazer o bem e quer melhorar o mundo, venha fazer parte da maior rede colaborativa do Brasil.
                
                .social-feed
                  .facebook-feed
                    .fb-page(data-height="530"  ,data-href="https://www.facebook.com/redemaisum/" ,data-tabs="timeline" ,data-small-header="false" ,data-adapt-container-width="true" ,data-hide-cover="false" ,data-show-facepile="false")
                    .fb-xfbml-parse-ignore
                      blockquote(cite="https://www.facebook.com/redemaisum/")
                        a(href="https://www.facebook.com/redemaisum/")
                  .twitter-feed
                    a.twitter-timeline(href="https://twitter.com/redemais1" ,data-widget-id="730814507614908416") Tweets de @redemais1
                        
        section.tabbed(data-scroll-index="3",data-tab-set="2")
          .header.bar-title
            .container
              h2.title Interaja +
          .container
            .items
              .item(data-tab="1")      
                img(src="assets/images/icons/7.png", alt="")
                h4 EMPRESAS
              .item(data-tab="2")      
                img(src="assets/images/icons/8.png", alt="")
                h4 SOCIAL
              .item(data-tab="3")      
                img(src="assets/images/icons/6.png", alt="")
                h4 EMBAIXADORES
                
          .item-info
            .container
              .contents(data-tab-index="1")
                p A MaisUm quer modificar a maneira de investimento no terceiro setor. Para isso criou algumas possibilidades e a melhor forma para destinar os recursos.
                p O objetivo é que a sua empresa encontre a opção ideal e ajude a mudar o mundo

              .contents(data-tab-index="2")
                p A maior dificuldade do terceiro setor hoje é planejar e arrecadar. A Mais Um pode fazer isso por vocês e colocar em prática os projetos da sua organização! 
                p Faça a sua instituição ser reconhecida e apoiada através da Mais Um.

              .contents(data-tab-index="3")
                p Você quer fazer parte da Mais Um? Então seja um embaixador Mais Um!!
                p Coloque a nossa Rede Colaborativa em evidência na sua cidade, estado ou país.
                p Os nossos embaixadores tem como objetivo principal gerar impacto social em toda a comunidade.
                p Interessado em fazer parte da Mais Um? Envie seu nome e email e receba nossos materiais de divulgação e expansão da Rede Mais Um.
         
        section.donation-feed(data-scroll-index="4")
            .header.bar-title
              .container
                h2.title Causas
            .container.content
                .info-left
                    h3
                        | causa <br> mais <br>
                        strong Urgente
                .percentage
                    .c100.big(data-percentage="96")
                        span 96
                        .slice
                            .bar
                            .fill
                    a(href="#") Colabore
                .info-right
                    h3 
                        strong R$ 80 000 
                        | Necessários
                    h3 
                        strong R$ 75 000  
                        | Conseguidos
                    h3 
                        strong 2000 
                        | Doadores
                        
                    
        section.recent(data-scroll-index="4")
            .container
                .causes
                    +cause("assets/images/content/causes/01.jpg","Centro Cirúrgico Infantil &mdash; Hospital do Câncer de Londrina",80,80,"donate.html")
                    +cause("assets/images/content/causes/02.jpg","Projeto Taekwondo Para Todos &mdash; PDV do Brasil",50,60,"donate.html")
                    +cause("assets/images/content/causes/03.jpg","Instituto Fernando Fernandes Life",75,90,"#")
                    +cause("assets/images/content/causes/03.jpg"," Lorem ipsum dolor sit amet, consectetur adipisicing.",80,80,"donate.html")
                    +cause("assets/images/content/causes/02.jpg"," Lorem ipsum dolor sit amet, consectetur adipisicing.",50,60,"donate.html")
                    +cause("assets/images/content/causes/01.jpg"," Lorem ipsum dolor sit amet, consectetur adipisicing.",75,90,"donate.html")
                            
        section.about-stats
            .container
                .stats
                    i.fa.fa-heart
                    span 12345
                    small causas
                .stats
                    i.fa.fa-globe
                    span 12345
                    small lugares
                .stats
                    i.fa.fa-user
                    span 12345
                    small doadores
                .stats
                    i.fa.fa-users
                    span 12345
                    small pessoas ajudadas
                            
        section.partners.light(data-scroll-index="5")
            .container
                .partners-carousel
                    +partners()
                        
        section.contact(data-scroll-index="6")
            .container
                h2.title 
                    strong Entre 
                    | em contato
                .info-box
                    .info
                        i.fa.fa-envelope-o
                        span.text-center contato@maisum.social
                        
                form.contact(action="")
                    .content
                        .box
                            .input-addon
                                i.fa.fa-user
                                input(type="text",placeholder="Nome Completo")
                            .input-addon
                                i.fa.fa-envelope-o
                                input(type="email",placeholder="E-Mail")
                            .input-addon
                                i.fa.fa-volume-up
                                input(type="text",placeholder="Assunto")
                        .box
                            .input-addon
                                i.fa.fa-pencil
                                textarea(name="",placeholder="Mensagem")
                    button(type="submit") Enviar
                    
        +footer
                
                    
        .scroll-top
            a(href="#")
                i.fa.fa-chevron-up
                
        .alert-bar
          h2.alert Erro ao enviar mensagem! Tente Novamente.
        
        .fb-root            
        script(type="text/javascript" src="assets/scripts/jquery-1.11.3.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.easing.1.3.js")
        script(type="text/javascript" src="assets/scripts/owl.carousel.min.js")
        script(type="text/javascript" src="assets/scripts/scrollIt.js")
        script(type="text/javascript" src="assets/scripts/bootstrap.min.js")
        script(type="text/javascript" src="assets/scripts/functions.min.js")
