section.about-us
  padding: 15px

  .container
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    @media( max-width: 960px )
      width: 100%

    .content
      display: flex
      align-items: center
      justify-content: center
      flex-direction: row
      width: 100%

      @media( max-width: 960px )
        flex-direction: column

      p
        text-align: justify
        font-size: 20px

  &.how
    p
      padding: 35px 0
    img.icon
      width: 210px
      height: 330px
      padding: 15px

  &.why
    background:
      image: url("/assets/images/content/about.jpg")
      repeat: no-repeat
      size: cover
      position: center

    .bar-title
      background-color: rgba($_primary-black,0.7)

    p
      padding: 35px 0
      color: $_primary-white
      font-size: 30px !important

  &.collab
    .bar-title
      background-color: $_primary-orange

    .content
      flex-direction: column
      align-items: flex-start
      padding: 40px 0

      p
        strong
          color: $_primary-orange

    .footer
      background:
        image: url("/assets/images/content/about-pattern.png")
        repeat: repeat-x
        position: bottom left
        size: contain

      height: 138px
      width: 100%

  &.contact
    padding: 0
    .bar-title
      background-color: rgba($_primary-black,0.7)

      .container
        padding: inherit
