@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic)
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic)
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,700)
@import url(https://fonts.googleapis.com/css?family=Satisfy)

@import 'bootstrap'
@import 'font_awesome'
@import 'variables'
@import 'animate'

@import 'owl.carousel'
@import 'owl.theme'
@import 'owl.transitions'
@import 'circular-percentage'

@import 'pages/header'
@import 'pages/sections'
@import 'pages/section.slider'
@import 'pages/section.donation-feed'
@import 'pages/section.recent'
@import 'pages/section.about'
@import 'pages/section.about-stats'
@import 'pages/section.partners'
@import 'pages/section.contact'
@import 'pages/section.sitemap'
@import 'pages/section.about-us'
@import 'pages/section.donate'
@import 'pages/section.login'
@import 'pages/section.payment'
@import 'pages/section.tabbed'
@import 'pages/footer'

@viewport
  zoom: 1.0
  width: device-width

body,html
  font-family: Raleway
  margin: 0
  padding: 0
  overflow-x: hidden
  -webkit-font-smoothing: antialiased !important
  -moz-font-smoothing: antialiased !important
  font-smoothing: antialiased !important

  a , a:active , a:hover , a:link , a:visited
    text-decoration: none

  #alert-bar
    position: fixed
    z-index: 99999
    width: 100%
    text-align: center
    font-size: 20px
    font-family: Open Sans
    text-transform: capitalize
    color: $_primary-white
    transform: all 0.3s linear
    display: none
    bottom: 0

    h2
      display: inline-block

    &.success
      background-color: $_primary-green
      display: block
    &.warning
      background-color: $_primary-orange
      display: block
    &.error
      background-color: $_primary-red
      display: block
    &.info
      background-color: $_primary-blue
      display: block

  .scroll-top
    position: fixed
    right: 10px
    bottom: 10px
    width: 48px
    height: 48px
    background-color: $_primary-green
    text-align: center
    display: flex
    justify-content: center
    align-content: center
    border-radius: 50%
    transition: all 0.4s ease-in-out
    opacity: 0
    box-shadow: 0px 2px 3px $_primary-black

    a
      display: block
      text-decoration: none
      color: $_primary-white
      font-size: 30px
      cursor: pointer

      &:hover
        background-color: lighten( $_primary-green, 10%)

        a
          color: $_primary-white

  .primary
    color: $_primary-green

  .handwriting
    font-family: Satisfy

  input[type='text'].default, input[type='email'].default, input[type='password'].default
    width: 100%
    margin: 10px 0 0 0
    padding: 6px 0 6px 10px
    text-align: left
    display: inline-block

  button.btn
    background: $_primary-green
    border: solid 1px $_primary-green
    color: $_primary-white
    padding: 10px 30px
    letter-spacing: 0.25em
    text-transform: uppercase
    transition: all 0.15s linear 0s
    margin: 30px 0

    &:hover
      background: rgba($_primary-green,.1)
      color: $_primary-green

  .input-group
    width: 100%
    padding: 9px 0 10px 10px
    border:
      bottom: 1px solid rgba(0, 0, 0, 0.05)

    &.notfull
      width: auto
    &.center
      display: flex
      align-items: center
      justify-content: center
    &.half
      width: 50%
      float: left

[type="radio"]:not(:checked), [type="radio"]:checked, [type="checkbox"]:not(:checked), [type="checkbox"]:checked
  position: absolute
  left: -9999px

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label , [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label
  position: relative
  padding: 6px 0 0 35px
  cursor: pointer
  font-weight: 300

/* checkbox aspect */
[type="radio"]:not(:checked) + label:before, [type="radio"]:checked + label:before , [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before
  content: ''
  position: absolute
  left: 0
  top: 2px
  width: 26px
  height: 26px
  border: 1px solid #aaa
  background: #f8f8f8
  border-radius: 0px

/* checked mark aspect */
[type="radio"]:not(:checked) + label:after, [type="radio"]:checked + label:after , [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after
  content: '\f00c'
  font-family: 'FontAwesome'
  position: absolute
  top: 3px
  left: 4px
  font-size: 26px
  line-height: 0.8
  color: $_primary-green
  transition: all .2s

/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after , [type="checkbox"]:not(:checked) + label:after
  opacity: 0
  transform: scale(0)

[type="radio"]:checked + label:after , [type="checkbox"]:checked + label:after
  opacity: 1
  transform: scale(1)

/* disabled checkbox */
[type="radio"]:disabled:not(:checked) + label:before, [type="radio"]:disabled:checked + label:before , [type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before
  box-shadow: none
  border-color: #bbb
  background-color: #ddd

[type="radio"]:disabled:checked + label:after , [type="checkbox"]:disabled:checked + label:after
  color: #999

[type="radio"]:disabled + label , [type="checkbox"]:disabled + label
  color: #aaa
